
a,a:hover,a:visited{
    text-decoration: none;
    font-size: 20px;
    display:block;
}
body{
    font-size: 20px;
}

table{
    margin: 0px;
    padding: 0px;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
}
td[class*="field_"]{
    background-size: contain;
}

.field____{
  background: url("../bilder/leer.png");
}

.field___X{
    background: url("../bilder/smile.png");
}
.field_f_X{
    background-color: aqua;
}
.field_b_X{
    background-color: magenta;
}


.field___1{
    background: url("../bilder/1.png");

}
.field___2{
        background: url("../bilder/2.png");
}
.field___3{
    background: url("../bilder/3.png");
}
.field___4{
    background: url("../bilder/4.png");
}
.field___5{
      background: url("../bilder/5.png");
}
.field___6{
  background: url("../bilder/6.png");
}
.field___7{
    background: url("../bilder/7.png");
}
.field___8{}
